.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.App-link {
  color: #61dafb;
}
